@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
  --color-primary: #1C1C1C
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  background-color: rgb(34, 33, 33);
}

a, a:hover {
  text-decoration: none;
  color:unset;
}